[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=sans_titre4
Exec=/opt/sans_titre4/bin/sans_titre4
Icon=sans_titre464
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
